<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled list-inline">
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                    <li><a href="">Audi</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>