<div class="service-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>services</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/1a.png" alt="regular service">
          <div class="service-content">
            <h3>regular service</h3>
            <p>Regular service and maintenance is important in keeping your car in top shape. Get the best prices only on MotorZo.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/2a.png" alt="regular service">
          <div class="service-content">
            <h3>repairs &amp; fixes</h3>
            <p>You never know when your car might need repairs. Stay ahead and get the best service possible with MotorZo.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/3a.png" alt="regular service">
          <div class="service-content">
            <h3>cleaning &amp; care</h3>
            <p>There's nothing like a shining, sparkling car. And there's no one better than MotorZo to do it.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-md-block"></div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/4a.png" alt="regular service">
          <div class="service-content">
            <h3>bodyworks</h3>
            <p>Worried about how expensive denting and painting works are? You should definitely try MotorZo to get great deals at the best service stations.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/6a.png" alt="regular service">
          <div class="service-content">
            <h3>breakown</h3>
            <p>Car broke down and don't know what to do? Contact us and we will save your day.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/5a.png" alt="regular service">
          <div class="service-content">
            <h3>tyres &amp; batteries</h3>
            <p>Don't know where to go to get new tyres and batteries? MotorZo gives you the best placesnear you.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>