<!--  -->
<div class="row">
    <div class="all-banner">
        <div class="row col-xs-12 text-center all-banner-inner">
            <h1 style="text-transform: capitalize;">your best car service</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row about-us">
            <div class="col-xs-12 col-sm-6 col-md-6 col-xs-12">
                <p>MotorZo was conceived in September, 2015 by a group of veterans from the automotive industry who had a clear understanding of the hassles and issues faced by car owners. We are building an empowering solution which is easy to use and based on modern technology. We are here to ensure that car service and maintenance is no longer a process to be feared of or hated. We believe that the smile you had when you first purchased your car should never fade.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-xs-12">
                <img ng-src="images/MotorZoCollage.png" alt="crew" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 style="padding-bottom: 30px">The leadership</h1>
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-success panel-profile">
            <div class="panel-heading" style="background: url(images/allBanner.jpg);"></div>
            <div class="panel-body text-center">
                <img ng-src="images/team/1.png" alt="" class="panel-profile-img">
                <h5>Heading</h5>
                <p>Lorem ipsum lorem ipsum</p>
                <a ng-href="" class="btn btn-success">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success panel-profile">
            <div class="panel-heading" style="background: url(images/allBanner.jpg);"></div>
            <div class="panel-body text-center">
                <img ng-src="images/team/2.png" alt="" class="panel-profile-img">
                <h5>Heading</h5>
                <p>Lorem ipsum lorem ipsum</p>
                <a ng-href="" class="btn btn-success">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success panel-profile">
            <div class="panel-heading" style="background: url(images/allBanner.jpg);"></div>
            <div class="panel-body text-center">
                <img ng-src="images/team/3.png" alt="" class="panel-profile-img">
                <h5>Heading</h5>
                <p>Lorem ipsum lorem ipsum</p>
                <a ng-href="" class="btn btn-success">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success panel-profile">
            <div class="panel-heading" style="background: url(images/allBanner.jpg);"></div>
            <div class="panel-body text-center">
                <img ng-src="images/team/4.png" alt="" class="panel-profile-img">
                <h5>Heading</h5>
                <p>Lorem ipsum lorem ipsum</p>
                <a ng-href="" class="btn btn-success">View in LinkedIn</a>
            </div>
        </div>
    </div>
</div>
</div>

<div ng-include="'layout/services.html'"></div>
