<div class="row">

    <div class="jumbotron text-center">
      <div class="banner">
        <h1 class="banner-heading">got a car ?</h1>
        <!-- Hidden for smaller devices -->
        <h2 class="rw-sentence hidden-xs">
          <span>MotorZo is a smart car service that removes all hassles associated with car service. We give your car the best treatment there is</span> <br>
          <span class="negpadding">motorzo is</span>
          <div class="rw-words rw-words-1">
            <span>trusthworthy</span>
            <span>convenient</span>
            <span>smart</span>
            <span>easy</span><!--
            <span>sugar</span>
            <span>happiness</span> -->
          </div>
        </h2>

        <!-- For IE browsers -->
       <!--  <h2 class="rw-sentence-IE">Real poetry is like creating beautiful butterflies with a silent touch of spice</h2> -->
        <!-- Visible for smaller devices -->
        <h2 class="visible-xs rw-sentence ">
          MotorZo is a smart car service that removes all hassles associated with car service.We give ur car the best treatment there is
        </h2>
        <button class="btn btn-success banner-button">get a quote</button>
      </div>
    </div>

</div>

<div class="row">
  <section class="bar-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 col-md-offset-0 col-xs-6 bars">
            <span class="glyphicon glyphicon-star"></span>
            <strong>4.7</strong>
            <label>Average Customer Rating</label>
            <p>They can't be wrong</p>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-6 bars">
          <span class="glyphicon glyphicon-map-marker"></span>
          <strong>112</strong>
          <label>Service Centers</label>
          <p class="alignSmall">All Quality Certified</p>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 bars">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <strong>6027</strong>
          <label>Fans</label>
          <p>Many More To Come</p>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="why-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>why choose motorzo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="service-content">
          <h3>power of choice</h3>
          <p>Choose your own service station based on multiple ratings and estimates. All the service stations you see on our platform have been quality certified to meet the highest standards!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="service-content">
          <h3>100% transparency</h3>
          <p>All our services are based according to manufacturer norms and we will tell you what is required for your car. From pricing to details of the service stations; we hide nothing form you.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 marTop">
        <div class="service-content">
          <h3>smart and simple</h3>
          <p>We offer an interface that gets you more with less clicks. Identify car issues yourself and let our smart algorithm find the service station that is best based on your repair, car and location!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 marTop">
        <div class="service-content">
          <h3>comfort and convenience</h3>
          <p>Trust us to find your issue and fix it. Trust us to bring back your car as good as new. We are always just a click or call away! Car maintenance was never so easy and hassle free.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="service-row">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>services</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/1a.png" alt="regular service">
          <div class="service-content">
            <h3>regular service</h3>
            <p>Regular service and maintenance is important in keeping your car in top shape. Get the best prices only on MotorZo.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/2a.png" alt="regular service">
          <div class="service-content">
            <h3>repairs &amp; fixes</h3>
            <p>You never know when your car might need repairs. Stay ahead and get the best service possible with MotorZo.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/3a.png" alt="regular service">
          <div class="service-content">
            <h3>cleaning &amp; care</h3>
            <p>There's nothing like a shining, sparkling car. And there's no one better than MotorZo to do it.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-md-block"></div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/4a.png" alt="regular service">
          <div class="service-content">
            <h3>bodyworks</h3>
            <p>Worried about how expensive denting and painting works are? You should definitely try MotorZo to get great deals at the best service stations.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/6a.png" alt="regular service">
          <div class="service-content">
            <h3>breakown</h3>
            <p>Car broke down and don't know what to do? Contact us and we will save your day.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 service-box">
        <div class="inner">
          <img ng-src="images/icons/5a.png" alt="regular service">
          <div class="service-content">
            <h3>tyres &amp; batteries</h3>
            <p>Don't know where to go to get new tyres and batteries? MotorZo gives you the best placesnear you.</p>
            <div><a ng-href="#/">readmore &raquo;</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


