<div class="row">

    <div class="jumbotron text-center">
      <div class="banner">
        <h1 class="banner-heading">got a car ?</h1>
        <!-- Hidden for smaller devices -->
        <h2 class="rw-sentence hidden-xs">
          <span>Real poetry is like</span>
          <div class="rw-words rw-words-1">
            <span>spice</span>
            <span>colors</span>
            <span>happiness</span>
            <span>wonder</span>
            <span>sugar</span>
            <span>happiness</span>
          </div>
        </h2>

        <!-- Visible for smaller devices -->
        <h2 class="visible-xs rw-sentence">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci temporibus debitis inventore sit tempore!
        </h2>
        <button class="btn btn-success banner-button">get a quote</button>
      </div>
    </div>

</div>

<div class="row">
  <section class="bar-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 col-md-offset-0 col-xs-6 bars">
            <span class="glyphicon glyphicon-star"></span>
            <strong>4.7</strong>
            <label>Average Customer Rating</label>
            <p>They can't be wrong</p>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-6 bars">
          <span class="glyphicon glyphicon-star"></span>
          <strong>112</strong>
          <label>Service Centers</label>
          <p class="alignSmall">All Quality Certified</p>
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 bars">
          <span class="glyphicon glyphicon-star"></span>
          <strong>6027</strong>
          <label>Fans</label>
          <p>Many More To Come</p>
        </div>
      </div>
    </div>
  </section>
</div>